<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SIE-CONEANFO</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script src="/static/js/bootstrap-datepicker3.min.css"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>


</head>
<body>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
		<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
              <br>
                 <p>SISTEMA INFORMACION ESTADISTICA-SIE-CONEANFO</p>
			    </div>

			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">



			      </ul>

            <ul class="nav navbar-nav navbar-right">


            </ul>
			     
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">Contacto</a></li>
			        <li><a href="#">información del Sistema</a></li>
			        <li><a href="#">{% if user.is_authenticated %}
					    	Bienvenido-<strong>{{user.username|capfirst}}</strong>
						{% endif %}</a></li>
                                                      <li><a href="{% url 'vista_logout'  %}"> cerrar sesión</a></li>


			      </ul>
			    </div>
			  </div>
		</nav>

</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
 		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="">
					<div class="panel-heading">
						<h3 class="panel-title"></h3>
					</div>
					<div class="panel-body">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><strong>Instituciones y Proyectos</strong></a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
    <table class="table">
         <tr>
                                    <td>
                                       <a href="{% url 'vista_dashboard' %}">Inicio</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                       <a href="{% url 'vista_proceso_educativo' %}">Proceso Educativo</a>
                                    </td>
                                </tr>
           <tr>
                                    <td>
                                       <a href="{% url 'vista_modulos'%}">Modulos Proceso Educativo</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="{% url 'vista_participantes' %}">Participantes</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                       <a href="{% url 'vista_matricula' %}">Ingreso Participantes al proceso</a>
                                    </td>
                                </tr>

                                  <tr>
                                    <td>
                                       <a href="{% url 'vista_staff_facilitadores' %}">Staff Facilitadores</a>
                                    </td>
                                </tr>

                                 <tr>
                                    <td>
                                       <a href="{% url 'vista_proyectos' %}">Proyectos</a>
                                    </td>
                                </tr>
         <tr>
                                    <td>
                                       <a href="{% url 'vista_evaluaciones' %}">Evaluaciones</a>
                                    </td>
                                </tr>
                                 <!--
                                <tr>


                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Proyectos</a>
                                    </td>
                                </tr>
                                   <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Procesos Educativos</a>
                                    </td>
                                </tr>
                                    <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Seguimiento Participante</a>
                                    </td>
                                </tr>
                                    <tr>
                                    <td>
                                       <a>Evaluaciones</a>
                                    </td>
                                </tr>
                                -->
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><strong>Catalogos y Reportes</strong></a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Catalagos</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Reportes</a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <strong>Perfil</strong></a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="">Cambiar Contraseña</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Manual Usuario</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Capacitaciones</a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><strong>Evaluaciones</strong></a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



				</div>
			</div>
            </div>

<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

</div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-5 well">
        <div class="panel panel-primary">
        	  <div class="panel-heading">
        			<h3 class="panel-title">Modificar Registro</h3>
        	  </div>
        	  <div class="panel-body">
        			                <form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
                            <table>

                    {{formulario.as_table}}
                                                                </table>

                                        <input type="submit" value="Modificar" class="btn btn-lg btn-primary btn-block">


                </form>

        	  </div>
        </div>



           {% if messages %}
                                            <ul class="messages">
                                                {% for message in messages %}
                                                    <div class="alert alert-danger">
                                                    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    	<strong>Error!</strong>
                                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>

                                                    </div>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
    </div>

<script type="text/javascript">
$(function() {
    $('#id_fechainiciomod1').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod1').datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $('#id_fechainiciomod2').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod2').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod3').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod3').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod4').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod4').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod5').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod5').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod6').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod6').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod7').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod7').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod8').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod8').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod9').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod9').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod10').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod10').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod11').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod11').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod12').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod12').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod13').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod13').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod14').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod14').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod15').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod15').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod16').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod16').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod17').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod17').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod18').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod18').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod19').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod19').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod20').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod20').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod21').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod21').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod22').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod22').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechainiciomod23').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod23').datepicker({
      dateFormat: 'yy-mm-dd',
    });
         $('#id_fechainiciomod24').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod24').datepicker({
      dateFormat: 'yy-mm-dd',
    });
         $('#id_fechainiciomod25').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod25').datepicker({
      dateFormat: 'yy-mm-dd',
    });
         $('#id_fechainiciomod26').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod26').datepicker({
      dateFormat: 'yy-mm-dd',
    });
         $('#id_fechainiciomod27').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod27').datepicker({
      dateFormat: 'yy-mm-dd',
    });
         $('#id_fechainiciomod28').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod28').datepicker({
      dateFormat: 'yy-mm-dd',
    });
         $('#id_fechainiciomod29').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod29').datepicker({
      dateFormat: 'yy-mm-dd',
    });
         $('#id_fechainiciomod30').datepicker({
      dateFormat: 'yy-mm-dd',
    });
      $('#id_fechafinalmod30').datepicker({
      dateFormat: 'yy-mm-dd',
    });
});

</script>

</body>

	<script src="/static/js/bootstrap.min.js"></script>



</html>